
         <div class="row" ng-repeat="house in houses"
             ng-class="{oddRow: $index % 2 == 0}">

          <div class="col-sm-8">
            <h4>{{$index + 1}}: {{house.name}}</h4>
          </div>
          <div class="col-sm-4" style="margin-top: 5px;">
            <div class="pull-right">
              <button class="btn btn-warning btn-sm"
                      ng-click="startEdit($index)">
                Edit
              </button>
              <button class="btn btn-danger btn-sm"
                      ng-click="startRemove($index)">Delete
              </button>
            </div>
          </div>
        </div>